<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <unicorn>
		  <configurations>
			  <configuration name="Klean.Project.Templates">
				  <targetDataStore physicalRootPath="$(sourceFolder)\serialization\templates" useDataCache="false" 
								   type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">
				  </targetDataStore>
					<predicate>
						<include name="KleanProjectTemplates" database="master" path="/sitecore/templates/Project/Klean"></include>
					</predicate>
			  </configuration>
			  <configuration name="Klean.Project.Presentation">
				  <targetDataStore physicalRootPath="$(sourceFolder)\serialization\presentation" useDataCache="false"
								   type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">
				  </targetDataStore>
				  <predicate>
					  <include name="Layout" database="master" path="/sitecore/layout/Layouts/Project/Klean"></include>
					  <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/Klean"></include>
				  </predicate>
			  </configuration>
			  <configuration name="Klean.Project.Media">
				  <targetDataStore physicalRootPath="$(sourceFolder)\serialization\media" useDataCache="false"
								   type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">
				  </targetDataStore>
				  <predicate>
					  <include name="MediaItems" database="master" path="/sitecore/media library/Project/Klean">
						  <exclude children="true">							  
						  </exclude>
					  </include>
				  </predicate>
			  </configuration>
			  <!--<configuration name="Klean.Project.Content">
				  <targetDataStore physicalRootPath="$(sourceFolder)\serialization\content" useDataCache="false"
								   type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">
				  </targetDataStore>
				  <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
				  <predicate>
					  <include name="KleanSite" database="master" path="/sitecore/content/Klean">
						<exclude templateid="{6BFD532F-242C-4CDF-AFDE-C44ADFD739C2}" />
						<exclude templateid="{C8ED7DA6-144A-4B0E-BEA2-C4FA6AA03604}" />
						<exclude templateid="{D540C9D4-6945-44D6-8923-C46F404709BA}" />
						<exclude templateid="{877C1A34-B65E-4690-A06E-2DA474F2F981}" />
					  </include>
				  --><!--<include path="/foo">
      <exclude childrenOfPath="/foo" />
      <exclude childrenOfPath="bar"> --><!-- /foo/bar/* --><!--
          <except name="quux" /> --><!-- include /foo/bar/quux --><!--
      </exclude>
  </include>--><!--
				  </predicate>
			  </configuration>-->
		  </configurations>
	  </unicorn>
  </sitecore>
</configuration>